/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

/*fonty
	Lora: font-family: "Lora", serif;
  		  font-optical-sizing: auto;

	Playfair Display: font-family: "Playfair Display", serif;
  					  font-optical-sizing: auto;
*/

body {
	margin: 0;
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-size: 18px;
	line-height: 1.5;
	color: #242424;
}

h1,
h2,
h3 {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: bold;
	line-height: 1.25;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 18px;
}

h2,
h3 {
	color: #3e606b;
}

.centrovany {
	max-width: 1100px;
	margin: 0 auto;
}

.obsahhlavicka {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 170px;
}

.menu {
	display: flex;
	list-style-type: none;
	margin: 0;
	align-items: center;
}

.menu a {
	text-decoration: none;
	padding: 0 15px;
}

.menu a:hover,
.menu a:active,
.menu a:focus {
	color: white;
	background-color: #f195b2;
	padding: 10px 15px;
	border-radius: 20px;
}

.hero {
	color: white;
	background-image: url(images/cupcake.jpg);
	background-size: cover;
	background-repeat: no-repeat;
} 

.obsahhero {
	padding: 80px 0;
}

.hero h1,
.hero p {
	padding-right: 40%;
}

.hero h1 {
	margin-top: 0;
}

.hero p {
	font-size: 24px;
	font-style: italic;
	margin-bottom: 0;
}

.obsahvitejte {
	padding: 80px 0;
	display: flex;
	align-items: center;
}

.vlevovitejte {
	padding-right: 30px;
}

.vlevovitejte h2 {
	margin-top: 0;
}

.tlacitkopadd {
	padding-top: 30px;
}

.tlacitkoVyr {
	background-color: #f195b2;
	padding: 15px 40px;
	border-radius: 30px;
	text-decoration: none;
	color: white;
}

.tlacitkoVyr:hover,
.tlacitkoVyr:active,
.tlacitkoVyr:focus {
	background-color: #d2567d;
}

.vpravovitejte img{
	border-radius: 5px;
}

.nabidka {
	background-color: #f0f0f0;
}

.obsahnabidka {
	padding: 80px 0;
}

/*.seznamproduktu {
	display: flex;
	
}


.produkt1,
.produkt2,
.produkt3,
.produkt4 {
	display: flex;
	flex-direction: column;
	
}
*/

.obsahpeceni {
	padding: 80px 0;
	display: flex;
	align-items: center;
}

.vlevopeceni img {
	border-radius: 5px;
}

.vpravopeceni {
	padding-left: 30px;
}

.vpravopeceni h2 {
	margin-top: 0;
}

footer {
	background-color: #303339;
	color: white;
	padding: 30px 0;
	text-align: center;
}